@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #008080;
  --secondary: #2d373c;
  --paragraph: #666666;
}

h1 {
  font-family: var(--font-raleway), sans-serif;
}

h2{
  font-family: var(--font-montserrat), sans-serif;
}

p {
  font-family: var(--font-jost), sans-serif;
}

.w{
  margin: 0 auto;
  width: 1400px;
}

@media screen and (max-width: 1220px) {
  .w {
    width: 96%;
    margin: 0 2%;
  } 
  
}